QA Latest Data/main/default/flows/Create_Change_Request_Record_for_SEC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_Change_Request_Record_For_Approval</name>
        <label>Submit Change Request Record For Approval</label>
        <locationX>723</locationX>
        <locationY>274</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>SCE_Approval_Process_For_Change_Request</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>varChangeRequestID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <constants>
        <description>This is Blank Value.</description>
        <name>Blank_Value</name>
        <dataType>String</dataType>
        <value>
            <stringValue/>
        </value>
    </constants>
    <constants>
        <description>This is used t o capture the approval process id</description>
        <name>varApprovalProcessID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>04a1U000000TqNuQAK</stringValue>
        </value>
    </constants>
    <constants>
        <description>This is used to test the flow</description>
        <name>varUserIDconstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0051U000004Mrc5</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Check if the Application Status is Active.</description>
        <name>Check_the_Application_Status</name>
        <label>Check the Application Status</label>
        <locationX>226</locationX>
        <locationY>246</locationY>
        <defaultConnector>
            <targetReference>Input_Account_Contact_information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Application_Status_Not_Active</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Application.Application_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Application.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Appication_Status</targetReference>
            </connector>
            <label>Application Status Not Active</label>
        </rules>
    </decisions>
    <decisions>
        <description>It is used to give error if no field has been populated by the user</description>
        <name>Input_one_value_in_the_fields</name>
        <label>Input one value in the fields</label>
        <locationX>561</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>create_change_request_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fields not Blank</defaultConnectorLabel>
        <rules>
            <name>Fields_not_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>updateAccountBillingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>updateAccountBillingState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>updateAccountBillingStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>updatedAccountPostcode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Company_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Blank_Value</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>updateContactLastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Blank_Value</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>updatedContactFirstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Blank_Value</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>updatedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Blank_Value</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Company_Website1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Blank_Value</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>Fields Blank1</label>
        </rules>
    </decisions>
    <description>This is used to capture the update  request of TA for SCE</description>
    <formulas>
        <description>This is used to get the current user ID</description>
        <name>CurrentUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Create Change Request Record for SEC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Change Request Record for SCE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_change_request_record</name>
        <label>create change request record</label>
        <locationX>564</locationX>
        <locationY>385</locationY>
        <assignRecordIdToReference>varChangeRequestID</assignRecordIdToReference>
        <connector>
            <targetReference>Submit_Change_Request_Record_For_Approval</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Billing_City__c</field>
            <value>
                <elementReference>updateAccountBillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Billing_State__c</field>
            <value>
                <elementReference>updateAccountBillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Billing_Street__c</field>
            <value>
                <elementReference>updateAccountBillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_PostalCode__c</field>
            <value>
                <elementReference>updatedAccountPostcode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Website__c</field>
            <value>
                <elementReference>Company_Website1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varContact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Email__c</field>
            <value>
                <elementReference>updatedEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_First_Name__c</field>
            <value>
                <elementReference>updatedContactFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Last_Name__c</field>
            <value>
                <elementReference>updateContactLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>varContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varUserRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Change_Request__c</object>
    </recordCreates>
    <recordLookups>
        <description>This is used to  fetch account and contact information from user  who has logged into the TA</description>
        <name>fetch_account_and_contact_from_user_email_address</name>
        <label>fetch account and contact from user  email address</label>
        <locationX>62</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Application_Status_of_Account</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUserRecord.Email</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>varContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>This is used to fetch the email address based on logged in user id</description>
        <name>fetch_Email_Address_from_TA_screen</name>
        <label>fetch Email Address from TA screen</label>
        <locationX>61</locationX>
        <locationY>197</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>fetch_account_and_contact_from_user_email_address</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>varUserRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>This is used to get the application status of the account</description>
        <name>Get_Application_Status_of_Account</name>
        <label>Get Application Status of Account</label>
        <locationX>249</locationX>
        <locationY>417</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_the_Application_Status</targetReference>
        </connector>
        <filters>
            <field>Trade_Ally__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContact.AccountId</elementReference>
            </value>
        </filters>
        <object>Application__c</object>
        <outputAssignments>
            <assignToReference>Application.Application_Status__c</assignToReference>
            <field>Application_Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Application.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Appication_Status</name>
        <label>Appication Status</label>
        <locationX>449</locationX>
        <locationY>251</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ApplicationError</name>
            <fieldText>The Application Status is not Active.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>911</locationX>
        <locationY>54</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>Please Enter atleast one field to submit the Change Request. To go back to previous page click the Previous Button.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>This is used to provide input  values for accounts and contact</description>
        <name>Input_Account_Contact_information</name>
        <label>Input Account &amp; Contact information</label>
        <locationX>232</locationX>
        <locationY>56</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Input_one_value_in_the_fields</targetReference>
        </connector>
        <fields>
            <name>Company_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Blank_Value</elementReference>
            </defaultValue>
            <fieldText>Company Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Company_Website1</name>
            <dataType>String</dataType>
            <fieldText>Company Website</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Account_address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Billing Address</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>updateAccountBillingCity</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>updatedAccountPostcode</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>updateAccountBillingState</assignToReference>
                <name>province</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>updateAccountBillingStreet</assignToReference>
                <name>street</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Contact_Name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact First Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>Blank_Value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>Blank_Value</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>updateContactLastName</assignToReference>
                <name>lastName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>updatedContactFirstName</assignToReference>
                <name>firstName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>contact_email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Blank_Value</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>updatedEmail</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>It is used to show the success message for user.</description>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>905</locationX>
        <locationY>273</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Successs</name>
            <fieldText>Your request has been submitted for Approval. Please click Finish or refresh the page to submit another request. Thank you!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>fetch_Email_Address_from_TA_screen</startElementReference>
    <status>Active</status>
    <variables>
        <name>AllApplicationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>Application</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <description>This is used  to capture the updated account billingCity</description>
        <name>updateAccountBillingCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This is used to capture from Ui screen updated  billing state value</description>
        <name>updateAccountBillingState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This is used to capture the account Billing Street</description>
        <name>updateAccountBillingStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This is used to capture the updated account name for SEC org</description>
        <name>updateAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This is used to capture the updated contactLast Name</description>
        <name>updateContactLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This is used to capture the updated account postal code value</description>
        <name>updatedAccountPostcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This is used to capture the updated Account website from TA for SEC</description>
        <name>updatedAccountWebsite</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This is used to capture the updated contact first name value from UI</description>
        <name>updatedContactFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This  field is used to capture the input email field value from UI Screen by TA</description>
        <name>updatedEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>this is  used to capture the approval queue</description>
        <name>varApprovalQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>00G1U000000w2UHUAY</stringValue>
        </value>
    </variables>
    <variables>
        <description>This is used to capture the value in change request</description>
        <name>varChangeRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Change_Request__c</objectType>
    </variables>
    <variables>
        <description>This is used to capture the change Request ID</description>
        <name>varChangeRequestID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varUserEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This is used to get the userID</description>
        <name>varUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This is used to capture the user record</description>
        <name>varUserRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
